*{
    box-sizing:border-box;
}

body{

      margin: 0;

}

header{
      background-color: lightgrey;
      text-align:center;
      padding: 30px;

}

.navbar{

background-color: gray;
}

aside{
width: 20%;
float: left;
padding: 10px;
}

section{
width: 40%;
float: left;
padding:10px;

}

article{

border:2px solid;
width:40%;
float:left;
padding: 10px;

}

footer {
display:block;
clear:both;
background-color: lightgrey;
text-align:center;
padding: 25px;

}
@media screen and(max-width:600) {
    aside,section,article{
        width:100%

    }
    
}